<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul class="start">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="end">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>

        <section class="register-form">
            <form action="resultado.html" method="POST">
                <div class="solicitud-nombre">
                  <label class="none">Nombre y apellido:</label>
                  <input class="text" type="text" name="nombre" placeholder="Nombre" minlength="2">
                </div>

                <div class="solicitud-email">
                    <label class="none" for="email">Nombre de usuario:</label>
                    <input class="text" type="email" name="email" placeholder="e-mail" minlength="2">
                </div>

                <div class="solicitud-date">
                <h3 class="date">Fecha de Nacimiento:</h3>
                <input class="text" type="date" name="fecha"> </input>
                </div>

                <div class="solicitud-domicilio">
                    <label class="none" for="domicilio">Domicilio:</label>
                    <input class="text" type="text" name="domicilio"  placeholder="Domicilio">
                </div>

                <div class="perfil-usuario">
                <h3> Perfil de usuario:</h3>  
                <input type="radio" name="preferencia" value="comprar"></input>
                <label>Comprar</label>
                <input type="radio" name="preferencia" value="vender"></input>
                <label>Vender</label>
                </div>
                     
                
                <div class="intereses">
                <h3>Intereses:</h3>
                <div class="electro"></div>
                <h4><input type="checkbox" name="intereses" value="electro"></input>
                 Electro</h4>
                <h4><input type="checkbox" name="intereses" value="moda"></input>
                Moda</h4>
                <h4><input type="checkbox" name="intereses" value="hogar"></input>
                Hogar</h4>
                <h4><input type="checkbox" name="intereses" value="jugueteria"></input>
                Jugueteria</h4>
                <h4><input type="checkbox" name="intereses" value="vida sana"></input>
                Vida sana</h4>
                </div>

                <div class="solicitud-foto">
                    <label for="foto de usuarios">Foto de usuario</label>
                    <input class="text-foto" type="file" name="foto" accept=".jpg, png" ></input>
                </div>

            
                <div class="password">
                  <label>Contraseña:</label>
                  <input class="text" type="password" name="password" minlength="8" placeholder="Escribe tu contraseña">

                  <label>Confirmar contraseña:</label>
                  <input class="text" type="password" name="password-confirm" minlength="8" placeholder="Repite tu contraseña">
                </div>

                <div class="button-register-submit">
                    <a href="/">ENVIAR</i></a>
                    </button>
                </div>
               
                <div class="button-register-reset">
                    <button type="reset" value="BORRAR"> BORRAR
                    </button>
                    </div>
              </form>
        </section>
        
        <footer>
            <div class="footer-contenido">
                <div class="footer-iconos"><i class="fas fa-credit-card"></i></div>
                <div class="footer-texto-titulares">Paga con tarjeta o en efectivo</div>
                <p class="footer-texto-descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro! </p>
            </div>
            <div class="footer-contenido">
                <div class="footer-iconos"><i class="fas fa-gift"></i></div>
                <div class="footer-texto-titulares">Envío gratis desde $2500</div>
                <p class="footer-texto-descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos </p>
            </div>
            <div class="footer-contenido">
                <div class="footer-iconos"><i class="fas fa-user-shield"></i></div>
                <div class="footer-texto-titulares">Seguridad de principio a fin</div>
                <p class="footer-texto-descripciones">¿No te gusta?!Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque siempre estás
                    protegido@ </p>
            </div>
            <div>
                <p>Copyright 1999-2020 Mercado Liebre 2020
                <p>
            </div>
        </footer>
        <main>