*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

/*Header*/

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
    padding: 10px;
}

header .form{
    display: flex;
    width: 50%;
    border-radius: 20%;
    align-items: center;
}

header nav{
    font-size: 13px;
    display: none;
}

header nav ul.start{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

header nav ul.end{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

header ul li{
    list-style-type: none;
    padding: 0px 10px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    width: 90%;
    background-color: #FFF;
    color: #666;
    border-radius: 7px 0px 0px 7px;
    padding: 10px 0px 10px 10px;
    text-align: center;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
header .form .submit{
    background-color: #FFF;
    color: aliceblue;
    border-radius: 0px 7px 7px 0px;
    width: 20px;
    height: 33px;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.submit i{
    color: gray;
    padding-top: 8px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

section.banner img{
    width: 100%;
}


/*Producto*/

.price{
    font-size: 18px;
    display: flex;
    flex: 30%;
}

.discount{
    flex: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
    align-self: flex-start;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}


div.main-article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top:-15px;
    transition: width 2s, height 2s, transform 2s;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

/*Register*/

section.register-form{
    margin: 5px;
    border: 1px solid black;
    border-radius: 7px;
}


section.register-form input.text{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

section.register-form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
}


div.solicitud-nombre{
    text-align: center;
    margin: 10px;
    width: 100%;
}

div.solicitud-email{
    text-align: center;
    margin: 10px;
    width: 100%;
}

div.solicitud-date{
    text-align: center;
    margin: 10px;
    width: 100%;
}

div.solicitud-domicilio{
    text-align: center;
    margin: 10px;
    width: 100%;
}

section.register-form h3{
    margin: 10px;
    font-size: 22px;
}

div.perfil-usuario{
    width: 90%;
    margin: 10px;
    text-align: center;
    width: 100%;
}

div.perfil-usuario label{
    margin-right: 11px;
}

div.intereses{
    margin: 10px;
    justify-self: center;
    text-align: start;
}

div.intereses h4{
    font-weight: normal;
    margin: 5px;
}

div.intereses label{
    padding-right: 5%;
    margin: 10px;
}

div.solicitud-foto{
    text-align: center;
    margin: 10px;
    width: 100%;
}

section.register-form input.text{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 5px;
    width: 90%;
}

div.password{
    margin: 10px;
    text-align: center;
    width: 100%;
}

div.password input{
    margin: 10px;
    margin: 5px;
}

div.password label{
    display: none;
    margin: 10px;
}


form div label.none{
    margin: 10px;
    display: none;
    padding: 80%;
}

div.button-register-submit{
    text-align: center;
    margin-bottom: 5px;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

div.button-register-submit{
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid black;
    padding: 5px 7px;
    border-radius: 5px;
    background-color: #0022AA;
    transition-property: background-color, color;
    transition: 0.5s;
    /*transition: 
               background-color, 0.5s,
               color, 0.5s;*/
    
}

div.button-register-submit:hover{
    background-color:  #39b54a;
    color: #fff;
}

div.button-register-submit a{
text-decoration: none;
color: #fff;
transition-property:color;
transition: 0.5s;
}

div.button-register-submit:hover a{
    text-decoration: none;
    color: #fff;
    }

div.button-register-reset{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

div.button-register-reset button{
    margin-bottom: 5px;
    border: 1px solid black;
    padding: 7px 6px;
    border-radius: 5px;
    background-color: #0022AA;
    color: white;
}


/*login*/

section.login-form{
    margin-bottom: 20%;
}

section.login-form form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

section.login-form form label{
    display: none;
}

section.login-form form input{
    font-size: 16px;
    margin: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

div.login-header p{
    font-size: 16px;
    text-align: center;
    margin: 10px 0px;
}

div.login-email{
    text-align: center
}

div.login-password{
    text-align: center
}

div.login-submit{
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: #0022AA;
    text-align: center;
}

div.login-submit a{ 
    color: white;
    text-decoration: none;
}

div.login-register{
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: #0022AA;
    text-align: center;
}

div.login-register a{ 
    color: white;
    text-decoration: none;;
}



/*Footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

footer .footer-contenido{
    margin: 10px;
}

footer .footer-iconos{ 
    text-align: center;
    color: #0044AA;
    transition-property: background-color, color;
    transition: 0.5s;
    width: 10%;
    margin: auto;
}

footer .footer-iconos:hover{
    color:#39b54a;
}

footer .footer-texto-titulares{
    text-align: center;
    font-weight: bold;
}

footer .footer-texto-descripciones{ 
    text-align: center;
}

footer div p{
    margin: 5px;
}


/*Media de 361px*/
@media (min-width: 361px){
    main section .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    article:hover div.main-article i{
        transform: rotate(-90deg);
    }

    main section div article {
        width: 45%;
    }

    main section article .description{
        display:none;
    }

    article:hover > .main-article > .description{
        display: block;
    }

    main section article{
        box-shadow: none;
    }

    main section article:hover{
        box-shadow: 0px 0px 10px rgb(46, 42, 42);
    }
}

@media (min-width: 768px){

    /*Header*/
    main section div article {
        width: 22%;
    }

    main section article .description{
        display: none;
    }

    article:hover > .main-article > .description{
        display: block;
    }

    div.top-header {
        padding: 10px;
        justify-content: center;
    }

    header div.logo {
        width: 35%;
        padding: 0px 0px 10px 0px;
    }

    header .form {      
        width: 30%;
        padding: 0px 0px 0px 10px;   
    }

    header div.top-header p {
        width: 35%;
        padding-top: 3%; 
    }

    header nav {
        display: flex;
        padding-bottom: 10px;
    }

    div.burger-menu {
        display: none;
    }

    /*Register*/

    section.register-form{
        margin: none;
        border: none;
        border-radius: none;
    }
    
    div.solicitud-nombre {
        text-align: center;
        margin: 10px;
    }

    div.solicitud-date {
        text-align: center;
        margin: 10px;
    }

    div.solicitud-email {
        text-align: center;
        margin: 10px;
    }

    div.solicitud-domicilio{
        text-align: center;
    }

    section.register-form form {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 50%;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
    }

    /*Login*/

    section.login-form{
        margin-bottom: 319px;
    }

    section.login-form form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        align-content: center;
    }

    section.login-form form input {
        width: 95%;
    }

    div.login-header{
        display: block;
    }

    div.login-header p{
        font-size: 22px;
    }

    /*Footer*/

    footer{
        justify-content: space-around;
    }
    
    footer .footer-contenido{
        margin: 10px;
        width: 29%;
    }
    
    footer .footer-iconos{ 
        text-align: center;
        color: #0044AA;
        transition-property: background-color, color;
        transition: 0.5s;
        width: 10%;
        margin: auto;
    }

    footer .footer-iconos:hover{
        color:#39b54a;
    }
    
    footer .footer-texto-titulares{
        text-align: center;
    }
    
    footer .footer-texto-descripciones{ 
        text-align: center;
    }
}

@media (min-width: 1024px){
    /*Header-top*/
    header div.logo {
        width: 30%;
    }

    header .form {
        width: 40%;
    }

    header div.top-header p {
        width: 30%;
    }

    header .form .input {
        font-size: 16px;
    }

    header .form .submit {
        height: 39px;
    }

    div.submit i {
        padding-top: 10px;
    }

    header div.top-header p {
        font-size: 15px;
        margin-top: 10px;
    }

    /*Header-bot*/

    header ul li a {
        font-size: 16px;
    }

    /*Register*/
    div.password {
        margin: 10px;
        width: 90%;
        text-align: center;
    }

    /*Login*/
    section.login-form form {
        width: 40%;
    }
}

@media (min-width: 1390px){
    /*Header-top*/
    header div.logo {
        width: 30%;
    }

    header .form {
        width: 45%;
    }

    header div.top-header p {
        width: 25%;
    }

    header .form .input {
        font-size: 23px;
    }

    header .form .submit {
        height: 48px;
        width: 27px;
    }

    div.submit i {
        padding-top: 14px;
        font-size: 20px;
    }

    header div.top-header p {
        font-size: 20px;
        margin-top: 0px;
    }

    /*Header-bot*/

    header ul li a {
        font-size: 20px;
    }

    /*Register*/

    section.register-form {
        width: 70%;
        margin: auto;
    }

}
